<div class="event-card">
	<span class='event-title'>Dinner at Rocky Mountain</span>
	<div class='event-sub-info'>
		<ul>
			<li>Rocky Moutain Pizza</li>
			<li>November 5, 2015</li>
			<li>19:00 - 20:30</li>
			<li>4 people attending</li>
		</ul>
	</div>
	<span>Created by Francisco Sanchez</span>
</div>