<!DOCTYPE html>
<html>
<head>
	<title>Student Match</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../stylesheets/style.css" type="text/css" />
	<script type="text/javascript" src="../../javascripts/jquery-11.0.0.min.js"></script>
	<script type="text/javascript" src="../../javascripts/create-event.js"> </script>
</head>

<body>
	<div class="home-header">
		<div class="header-row">
			<span id="page-title"><%= even.category %></span>
		</div>
	</div>
</body>
</html>