<!DOCTYPE html>
<html>
<head>
	<title>Student Match</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../stylesheets/style.css" type="text/css" />
	<script type="text/javascript" src="../../javascripts/jquery-11.0.0.min.js"></script>
	<script type="text/javascript" src="../../javascripts/home.js"> </script>

</head>

<body>
	<div class="home-header">
		<div class="header-row">
			<span id="page-title">Events</span>
			<div id='create-button'>New Event</div>
			<!-- <span id="filter-button">Filter</span> -->
		</div>
		<div class="header-row">
			<div id="header-buttons">
				<div class="header-button">
					<span>Profile</span>
				</div>
				<div class="header-button selected-button">
					<span>Events</span>
				</div>
				<div class="header-button" id="attending-button">
					<span>Attending</span>
				</div>
			</div>
		</div>
	</div>
	<div class="home-tab">
		<% events.forEach(function(event) { %>
			<% include ../events/event-card.ejs %>
		<% }) %>
	</div>
	<div class="modal-background" style="display: none;"></div>

</body>
</html>