body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.home-header {
	color: white;
	width: 100%;
	background-color: #191919;
}

#page-title {
	font: 4em;
}

.header-row {
	padding-top: .5em;
}

.home-header #filter-button {
}

.header-button {
	display: inline-block;
	width: 32%;
	height: 2em;
	background-color: gray;
	line-height: 2em;
	text-align: center;
}

.header-button span {
	vertical-align: middle;
}

#header-buttons {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
/*
#attending-button {
	float: ri;
}*/
